extends ../layouts/new_and_edit.jade
block inputs
  +input('借阅室名','name','text',name)(required)
  +input('地址','address','text',address)
  +input('联系方式','phone','text',phone)
  +input('管理员','admin','text',admin)
